{% extends "layout.twig" %}

{% block content %}



<header>
   <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<section class="wrapper">


{{widget('gallery', 'gallery', 
{'showDescription': true,
'showTitle': true,
'images':
[
{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/1.jpg'), 'title':'test title', 'description': 'test desc'},
{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/2.jpg'), 'title':'test title', 'description': 'test desc'},
{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/3.jpg'), 'title':'test title', 'description': 'test desc'},
{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/4.jpg'), 'title':'test title', 'description': 'test desc'},
{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/5.jpg'), 'title':'test title', 'description': 'test desc'},
{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/6.jpg'), 'title':'test title', 'description': 'test desc'},
{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/7.jpg'), 'title':'test title', 'description': 'test desc'},
{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/8.jpg'), 'title':'test title', 'description': 'test desc'},
{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/9.jpg'), 'title':'test title', 'description': 'test desc'}
]
})|raw}}


</div>

</section>

<div class="main wrapper clearfix">
{{zone('main')|raw}}
</div>  

<footer class="wrapper clearfix">
    {{widget('profile', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}           
    {{widget('profile', 'footercolumn1profilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
</footer>



{% endblock %}